.signInContainer {
  margin: auto;
  padding: 8px;
}

.login-body {
  align-items: center;
  background-color: #361e70;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  text-align: center;
}


.signInH2 {
  color: white;
  font-size: 2rem;
}

.login-form {
  background-color: #1f1147;
  border-radius: 16px;
  display: grid;
  min-height: 350px;
  padding: 40px;
}

.inputContainer {
  margin: auto;
  padding-bottom: 4px;
}

.inputContainer input {
  border: 1px solid transparent;
  padding: 4px;
}

.inputContainer input:focus {
  border: 1px solid transparent;
  outline: none;
}

.buttonContainer {
  display: grid;
}

.buttonContainer button {
  font-size: 1rem;
  margin: auto;
  padding: 8px;
  width: 120px;
}

.buttonContainer2 button {
  background-color: #1f1147;
  border: 1px #6949fd solid;
  border-radius: 8px;
  color: #6949fd;
}

.buttonContainer1 button {
  background-color: #6949fd;
  border: none;
  border-radius: 8px;
  color: white;
}

.buttonContainer button:hover {
  background-color: #32167c;
  border: none;
  outline: none;
}

.buttonContainer button:disabled {
  background-color: #37e9ba75;
  color: #1f1147;
  outline: none;
}
