.signInContainer {
  padding: 8px;
}

.login-body {
  align-items: center;
  background-color: #361e70;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  text-align: center;
}


.signInH2 {
  color: white;
  font-size: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  padding-bottom: 4px;
}

.inputContainer input {
  border: 1px solid transparent;
  height: 1.5em;
}

.inputContainer input:focus {
  border: 1px solid transparent;
  outline: none;
}

.buttonContainer button {
  border: 1px solid transparent;
  color: #32167c;
  margin-top: 8px;
  padding: 4px;
  width: 6em;
}

.buttonContainer button:hover {
  background-color: #37e9bb;
  border: 1px solid transparent;
  outline: none;
  width: 6em;
}

.buttonContainer button:disabled:hover {
  background-color: #37e9ba75;
  border: 1px solid transparent;
  outline: none;
  width: 6em;
}
